<?xml version="1.0"?>
<config>
  <modules>
    <Midtrans_snapspec>
      <version>1.1.2</version>
    </Midtrans_snapspec>
  </modules>
  <global>
    <models>
      <snapspec>
        <class>Midtrans_Snapspec_Model</class>
      </snapspec>
    </models>
    <helpers>
      <snapspec>
        <class>Midtrans_Snapspec_Helper</class>
      </snapspec>
    </helpers>
    <blocks>
      <snapspec>
        <class>Midtrans_Snapspec_Block</class>
      </snapspec>
    </blocks>
    <adminhtml>
      <layout>
        <updates>
          <snapspec>
            <file>midtrans.xml</file>
          </snapspec>
        </updates>
      </layout>
    </adminhtml>
  </global>
  <default>
    <payment>
      <snapspec>
        <model>snapspec/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Payment via Midtrans Specific Payment</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>4</sort_order>
        <conversion_rate>10000</conversion_rate>
        <environment>sandbox</environment>
      </snapspec>
    </payment>
  </default>
  <frontend>
    <routers>
      <snapspec>
        <use>standard</use>
        <args>
          <module>Midtrans_Snapspec</module>
          <frontName>snapspec</frontName>
        </args>
      </snapspec>
    </routers>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <midtrans_snapspec>
          <file>midtrans.xml</file>
        </midtrans_snapspec>
      </updates>
    </layout>
  </adminhtml>
</config>
