<?xml version="1.0"?>
<config>
  <modules>
    <Midtrans_Snapio>
      <version>1.1.2</version>
    </Midtrans_Snapio>
  </modules>
  <global>
    <models>
      <snapio>
        <class>Midtrans_Snapio_Model</class>
      </snapio>
    </models>
    <helpers>
      <snapio>
        <class>Midtrans_Snapio_Helper</class>
      </snapio>
    </helpers>
    <blocks>
      <snapio>
        <class>Midtrans_Snapio_Block</class>
      </snapio>
    </blocks>
    <adminhtml>
      <layout>
        <updates>
          <snapio>
            <file>midtrans.xml</file>
          </snapio>
        </updates>
      </layout>
    </adminhtml>
  </global>
  <default>
    <payment>
      <snapio>
        <model>snapio/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Payment via Midtrans offline installment</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>3</sort_order>
        <conversion_rate>10000</conversion_rate>
        <enable_3d_secure>true</enable_3d_secure>
        <installment_term>3,6,12</installment_term>
        <environment>sandbox</environment>
      </snapio>
    </payment>
  </default>
  <frontend>
    <routers>
      <snapio>
        <use>standard</use>
        <args>
          <module>Midtrans_Snapio</module>
          <frontName>snapio</frontName>
        </args>
      </snapio>
    </routers>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <midtrans_snapio>
          <file>midtrans.xml</file>
        </midtrans_snapio>
      </updates>
    </layout>
  </adminhtml>
</config>
