<?xml version="1.0"?>
<config>
  <modules>
    <Midtrans_Snap>
      <version>1.1.2</version>
    </Midtrans_Snap>
  </modules>
  <global>
    <models>
      <snap>
        <class>Midtrans_Snap_Model</class>
      </snap>
    </models>
    <helpers>
      <snap>
        <class>Midtrans_Snap_Helper</class>
      </snap>
    </helpers>
    <blocks>
      <snap>
        <class>Midtrans_Snap_Block</class>
      </snap>
    </blocks>
    <adminhtml>
      <layout>
        <updates>
          <snap>
            <file>midtrans.xml</file>
          </snap>
        </updates>
      </layout>
    </adminhtml>
  </global>
  <default>
    <payment>
      <snap>
        <model>snap/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Payment via Midtrans</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
        <conversion_rate>10000</conversion_rate>
        <enable_3d_secure>true</enable_3d_secure>
        <environment>sandbox</environment>
      </snap>
    </payment>
  </default>
  <frontend>
    <routers>
      <snap>
        <use>standard</use>
        <args>
          <module>Midtrans_Snap</module>
          <frontName>snap</frontName>
        </args>
      </snap>
    </routers>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <midtrans_snap>
          <file>midtrans.xml</file>
        </midtrans_snap>
      </updates>
    </layout>
  </adminhtml>
</config>
