<?xml version="1.0"?>
<config>
  <modules>
    <Midtrans_Snapmigs>
      <version>1.0.0</version>
    </Midtrans_Snapmigs>
  </modules>
  <global>
    <models>
      <snapmigs>
        <class>Midtrans_Snapmigs_Model</class>
      </snapmigs>
    </models>
    <helpers>
      <snapmigs>
        <class>Midtrans_Snapmigs_Helper</class>
      </snapmigs>
    </helpers>
    <blocks>
      <snapmigs>
        <class>Midtrans_Snapmigs_Block</class>
      </snapmigs>
    </blocks>
    <adminhtml>
      <layout>
        <updates>
          <snapmigs>
            <file>midtrans.xml</file>
          </snapmigs>
        </updates>
      </layout>
    </adminhtml>
  </global>
  <default>
    <payment>
      <snapmigs>
        <model>snapmigs/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Credit Card</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
        <conversion_rate>10000</conversion_rate>
        <enable_3d_secure>true</enable_3d_secure>
        <environment>sandbox</environment>
      </snapmigs>
    </payment>
  </default>
  <frontend>
    <routers>
      <snapmigs>
        <use>standard</use>
        <args>
          <module>Midtrans_Snapmigs</module>
          <frontName>snapmigs</frontName>
        </args>
      </snapmigs>
    </routers>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <midtrans_snapmigs>
          <file>midtrans.xml</file>
        </midtrans_snapmigs>
      </updates>
    </layout>
  </adminhtml>
</config>
