<?xml version="1.0"?>
<config>
  <modules>
    <Midtrans_Snapbin>
      <version>1.0.0</version>
    </Midtrans_Snapbin>
  </modules>
  <global>
    <models>
      <snapbin>
        <class>Midtrans_Snapbin_Model</class>
      </snapbin>
    </models>
    <helpers>
      <snapbin>
        <class>Midtrans_Snapbin_Helper</class>
      </snapbin>
    </helpers>
    <blocks>
      <snapbin>
        <class>Midtrans_Snapbin_Block</class>
      </snapbin>
    </blocks>
    <adminhtml>
      <layout>
        <updates>
          <snapbin>
            <file>midtrans.xml</file>
          </snapbin>
        </updates>
      </layout>
    </adminhtml>
  </global>
  <default>
    <payment>
      <snapbin>
        <model>snapbin/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Bin Filter</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
        <conversion_rate>10000</conversion_rate>
        <environment>sandbox</environment>
      </snapbin>
    </payment>
  </default>
  <frontend>
    <routers>
      <snapbin>
        <use>standard</use>
        <args>
          <module>Midtrans_Snapbin</module>
          <frontName>snapbin</frontName>
        </args>
      </snapbin>
    </routers>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <midtrans_snapbin>
          <file>midtrans.xml</file>
        </midtrans_snapbin>
      </updates>
    </layout>
  </adminhtml>
</config>
