<?xml version="1.0"?>
<config>
  <modules>
    <Midtrans_Snapinst>
      <version>1.1.2</version>
    </Midtrans_Snapinst>
  </modules>
  <global>
    <models>
      <snapinst>
        <class>Midtrans_Snapinst_Model</class>
      </snapinst>
    </models>
    <helpers>
      <snapinst>
        <class>Midtrans_Snapinst_Helper</class>
      </snapinst>
    </helpers>
    <blocks>
      <snapinst>
        <class>Midtrans_Snapinst_Block</class>
      </snapinst>
    </blocks>
    <adminhtml>
      <layout>
        <updates>
          <snapinst>
            <file>midtrans.xml</file>
          </snapinst>
        </updates>
      </layout>
    </adminhtml>
  </global>
  <default>
    <payment>
      <snapinst>
        <model>snapinst/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Payment with Midtrans installment</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>2</sort_order>
        <conversion_rate>10000</conversion_rate>
        <enable_3d_secure>true</enable_3d_secure>
        <environment>sandbox</environment>
      </snapinst>
    </payment>
  </default>
  <frontend>
    <routers>
      <snapinst>
        <use>standard</use>
        <args>
          <module>Midtrans_Snapinst</module>
          <frontName>snapinst</frontName>
        </args>
      </snapinst>
    </routers>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <midtrans_snapinst>
          <file>midtrans.xml</file>
        </midtrans_snapinst>
      </updates>
    </layout>
  </adminhtml>
</config>
